[disabled] {
  opacity: 0.2;
  color: red;
}

[type=password] {
  color: blue;
  font-weight: bold;
}

[class$="danger2"] {
  font-weight: bold;
  border-radius: 20px;
  color: orangered;
}

[class^="btn-"] {
  font-weight: bold;
  border-radius: 20px;
  color: turquoise;
}

input {
  width: 100px;
  outline: none; /* Border 보다 다루기 까다로움 */
  border: 1px solid teal;
  padding: 5px 10px;
  transition: 0.4s;
}

input:focus {
  width: 200px;
  border: 3px solid red;
}

.box-group :nth-child(1){
  color: red;
  font-weight: bold;
}

.fruits p:nth-of-type(1) {
  color: red;
}

.fruits2 .red:nth-of-type(1) {
  color: aqua;
}

.fruits3 li:not(.special) {
  color: purple;
  font-weight: bold;
}

.fruits4 li::before {
  content: "BEGIN";
  font-weight: bold;
  color: red;
  margin-right: 20px;
}

.fruits5 li::after {
  content: "";
  width: 10px;
  height: 10px;
  background: tomato;
  margin-left: 20px;
  display: inline-block;
  border-radius: 50%;
}

.fruits6 {
  counter-reset: li;
}

.fruits6 li::after {
  content: "--"counter(li);
  counter-increment: li;
}

.menu li {
  margin-bottom: 10px;
}

.menu li > a {
  position: relative;
  color: black;
  text-decoration: none;
}

.menu li > a:hover {
  color: red;
}

.menu li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: red;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out 0s;
}

.menu li > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.fruits7 {
  position: absolute;
}

.fruits7 li {
  list-style-type: none;
}

.fruits7 li::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background: red;
  margin-bottom: 10px;
}

.fruits7 li::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../example_pics/img/heropy_small.png) no-repeat 0 0 / 100%;
}