// COMMON
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $main-black;
}

section {
  position: relative;
}

a {
  text-decoration: none;
}

// BTN
.btn {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  display: flex;  // inline-flex 는 줄 바꿈된 영역을 띄어쓰기로 인식
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  color: $main-black;

  &:hover::before {
    content: "";
    /* 부모 요소에 position 값이 있어야 함 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.07);
  }

  &--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
  }
}

// Input Text
.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  // outline 은 다루기 까다로움
  outline: none;
  // X축 Y축 길이
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.75);
  font-size: 16px;

  &:focus {
    border-color: #51a7e8;
    // 안 쪽 shadow 유지하면서 바깥쪽 shadow 효과 추가
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.75),
                0 0 5px rgba(81,167,232,0.5);
  }

  // Vendor Prefix : 브라우저 업체별 접두사
  // webkit: Chrome
  // ms : IE, Edge
  // moz : Firefox
  // o : Opera (Input Placeholder 지원 안 함)
  &::-webkit-input-placeholder { color: #cacaca; }
  &::-ms-input-placeholder { color: #cacaca; }
  &::-moz-input-placeholder { color: #cacaca; }
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}