.section--pricing {
  background: linear-gradient(#f5f5f5, $main-white);
}

#inner--pricing {
  @include inner;
  padding: 80px 0;
}

.card {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.cell {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell1 {
  .btn {
    height: 50px;
    font: {
      size: 16px;
    }
  }
}

.cell2 {
  font: {
    size: 22px;
    weight: 300;
  }
  line-height: 1.5;

  flex-grow: 1;
  flex-basis: 0;
  border-left: 1px solid #e5e5e5;
}