header {
  border-bottom: 1px solid rgba(0,0,0,.7);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
  background: #fff;

  .inner {
    max-width: 980px;
    height: 78px;
    margin: 0 auto; // 반드시 가로 size 가 정해져 있어야 함

    .menu-group {
      display: flex;
      height: 100%;
      align-items: center;

      .logo {
        margin-right: 10px;

        a {
          background: url("../img/logo.svg");
          width: 32px;
          height: 32px;
          display: block;
          text-indent: -9999px;

          &:hover {
            background: url("../img/logo_on.svg");
          }
        }
      }
      .main-menu {
        display: flex;

        li {
          a {
            display: block;
            padding: 10px;
            background: chocolate;
            color: #3c4146;

            &:hover {
              color: #4078c0;
            }
          }
        }
      }
    }

    .sign-group {
      display: flex;
      
    }
  }
}