@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

section {
  position: relative;
}

a {
  text-decoration: none;
}

.btn {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  color: #333;
}
.btn:hover::before {
  content: "";
  /* 부모 요소에 position 값이 있어야 함 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}
.btn--primary {
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75);
  font-size: 16px;
}
.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75), 0 0 5px rgba(81, 167, 232, 0.5);
}
.input--text::-webkit-input-placeholder {
  color: #cacaca;
}
.input--text::-ms-input-placeholder {
  color: #cacaca;
}
.input--text::-moz-input-placeholder {
  color: #cacaca;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  background: #fff;
}

#header-inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 78px;
  justify-content: space-between;
}

.menu-group {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}
.logo a {
  background: url("../img/logo.svg");
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -9999px;
}
.logo a:hover {
  background: url("../img/logo_on.svg");
}

.main-menu {
  display: flex;
}
.main-menu li a {
  padding: 10px;
  font-size: 16px;
  display: block;
  color: #3c4146;
}
.main-menu li a:hover {
  color: #4078c0;
}

.sign-group {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.btn-group {
  display: flex;
}
.btn-group .sign-in {
  margin-right: 4px;
}

#search-form {
  margin-right: 12px;
}

#search {
  width: 160px;
  font-size: 14px;
}
#search + [type=submit] {
  display: none;
}

.sub-menu {
  display: flex;
  margin-right: 10px;
}
.sub-menu li a {
  padding: 8px;
  font-size: 13px;
  display: block;
  color: #3c4146;
}
.sub-menu li a:hover {
  color: #4078c0;
}

.section--visual {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
.section--visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

#visual-inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding: 160px 0;
}

.summary {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 90px;
}

#visual__summary__title {
  font-size: 54px;
  font-weight: 300;
  color: #fff;
  line-height: 1.25;
  margin-bottom: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
}

#visual__summary__description {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
}

#sign-form {
  width: 340px;
  margin-top: 16px;
}
#sign-form li {
  margin-bottom: 17px;
}
#sign-form li:last-child {
  margin-bottom: 0;
}
#sign-form .input--text {
  width: 100%;
  height: 40px;
}
#sign-form [type=submit] {
  width: 100%;
  height: 62px;
  padding: 0 25px;
  font-size: 20px;
  justify-content: center;
}

.caption {
  font-size: 12px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  display: block;
  margin-top: 5px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
