b {
  color: blueviolet;
}

code {
  background: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

/* kbd {
  background: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
} */

kbd {
  padding: 0 3px;
  border-radius: 3px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(205, 205, 205);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(225, 225, 225);
}